$font-primary: "Marcellus", serif;
$font-secondary: "Jost", sans-serif;

//Textos
$text-primary: #1b150f;
$text-accent: #a36e09;

//Cores de funto, blocos , elementos, etc...
$background-primary: #bea07d;
$color-primary: #190f0a;
$color-secondary: #efebe4;
$color-white: #ffffff;
$color-bege-claro: #f7f1e8;

//Paleta complementar (marrom e verde cipó)
$color-marrom: #5c3a21;
$color-verde-cipo: #7c8a5c;

//Cor de destaque para CTAs
$color-destaque: #5c3a21;
