$font-primary: "Marcellus", serif;
$font-secondary: "Jost", sans-serif;

//Textos
$text-primary: #1b150f;
$text-accent: #a36e09;

//Cores de funto, blocos , elementos, etc...
$background-primary: #bea07d;
$color-primary: #190f0a;
$color-secondary: #efebe4;
